<script lang="ts">
  import P5 from "p5-svelte";
  import { onMount } from "svelte";

  let canvasWrapper: HTMLDivElement;
  let num_vertical_lines = 20;
  let num_horizontal_lines = 40;

  export let time = 0;

  let random_y = [] as number[];
  let random_x = [] as number[];
  let viewport = { width: 0, height: 0, x: 0, y: 0 };
  let scaledView = {};

  const sketch = (p5: P5) => {
    p5.setup = () => {
      p5.createCanvas(canvasWrapper.offsetWidth, canvasWrapper.offsetHeight);
      viewport.width = canvasWrapper.offsetWidth
      viewport.height = canvasWrapper.offsetHeight
      scaledView = {...viewport}
      viewport.x = (canvasWrapper.offsetWidth - viewport.width) / 2;
      viewport.y = (canvasWrapper.offsetHeight - viewport.height) / 2;
      for (let i = 0; i < num_vertical_lines; ++i) {
        random_y.push(p5.random(0, canvasWrapper.offsetHeight));
      }
      for (let i = 0; i < num_horizontal_lines; ++i) {
        random_x.push(p5.random(0, canvasWrapper.offsetWidth));
      }
    };

    p5.draw = () => {
      let dx = canvasWrapper.offsetWidth / num_vertical_lines;
      let dy = canvasWrapper.offsetHeight / num_horizontal_lines;

      p5.background(255);
      p5.stroke(0);
      p5.translate(viewport.x, viewport.y);

      p5.push();
      p5.translate(scaledView.x, scaledView.y);
      p5.scale(
        scaledView.width / viewport.width,
        scaledView.height / viewport.height
      );

      for (let i = 0; i < num_vertical_lines; ++i) {
        p5.line(i * dx, random_y[i] - time*random_y[i], i * dx, random_y[i] + time*(viewport.height - random_y[i]));
      }

      for (let i = 0; i < num_horizontal_lines; ++i) {
        p5.line(random_x[i] - time*random_x[i], i * dy, random_x[i] + time*(viewport.width - random_x[i]), i * dy);
      }
    };
  };
</script>

<div bind:this={canvasWrapper} class="w-full h-full">
  <P5 {sketch} />
</div>
