<script lang="ts">
  import { fly } from "svelte/transition";
  import { cubicOut } from 'svelte/easing';
  import { tweened } from 'svelte/motion';
  import P5animation from "$lib/p5animation.svelte";
  import Dropzone from "svelte-file-dropzone/Dropzone.svelte";

  let loadingSize = 0;
  let sheetName = "";
  let stage = "waiting" as "waiting" | "loading" | "completed";
  let error = "none" as "none" | "multipleFilesError" | "fileTypeError" | "transferError";

  const animationTime = tweened(0, {easing: cubicOut, duration: 1000});
  $: loadingSize, uploadAnimationTime()

  function uploadAnimationTime() {
    animationTime.set(loadingSize)
  }

  function handleFilesSelect(e: CustomEvent) {
    const { acceptedFiles, fileRejections } = e.detail;
    if (acceptedFiles.length === 1) {
      stage = "loading";
      acceptFile(e.detail.acceptedFiles[0]);
    } else if (acceptedFiles.length > 1) {
      error = "multipleFilesError"
    } else if (fileRejections.length > 0) {
      error = "fileTypeError"
    }
  }

  function acceptFile(file: File) {
    sheetName = file.name;
    uploadFile(file);
  }

  async function uploadFile(file: File) {
    var formData = new FormData();
    formData.append("file", file);

    const http = new XMLHttpRequest();
    const url = "http://localhost:8000/uploadfile/";

    http.upload.onprogress = transferProgress;
    http.onload = transferComplete;
    http.onerror = transferFailed;

    http.open("POST", url, true);
    http.send(formData);
  }

  function transferProgress(e: ProgressEvent) {
    console.log(e)
    loadingSize = e.loaded / e.total || 0;
  }

  function transferComplete() {
    stage = "completed";
  }

  function transferFailed() {
    stage = "waiting";
    error = "transferError";
  }
</script>

<div
  class="flex-grow overflow-hidden flex items-center font-black">
  {#if stage === "waiting"}
  <div class="absolute w-full h-full z-30">
    <Dropzone
      on:drop={handleFilesSelect}
      accept=".csv,.xls,.xlsx"
      disabled={loadingSize > 0}
      multiple={false}
      inputElement
      disableDefaultStyles
      containerClasses="w-full h-full top-0 left-0 flex items-center justify-center p-6">
      <span></span>
    </Dropzone>
  </div>
  {/if}
  <div
    class="w-full {stage === "waiting" ? 'max-w-lg' : 'max-w-0'} text-[20vh] leading-none flex flex-col text-left z-10
          portrait:text-[27.5vw] portrait:max-w-none transition-all ease-in-out"
  >
    {#if stage === "waiting"}
      <span transition:fly={{ y: -100, opacity: 0 }}>SELECT</span>
      <span transition:fly={{ y: -100, opacity: 0, delay: 50 }}>OR</span>
      <span transition:fly={{ y: -100, opacity: 0, delay: 100 }}>DROP</span>
      <span transition:fly={{ y: -100, opacity: 0, delay: 150 }}>YOUR</span>
      <span transition:fly={{ y: -100, opacity: 0, delay: 200 }}>TABLE</span>
    {/if}
  </div>
  <div
    class="flex-grow w-full h-full flex items-center justify-center portrait:absolute z-20">
    <div
      class="relative w-1/2 max-w-xs min-w-[16rem] aspect-square flex items-center justify-center bg-red-400 rounded-full">
      {#if stage === "waiting"}
        <img
          transition:fly={{ y: -100, opacity: 0, delay: 300 }}
          class="p-8"
          src="/upload_sheet.svg"
          alt="Upload Spreadsheet Icon"
        />
      {:else}
        <div
          class="absolute w-full h-full rounded-full circle"
          style="background: conic-gradient(
                currentColor {loadingSize * 100}%,
                transparent {loadingSize * 100}% 100%
              );"
        />
        {#if stage === "loading"}
          <span
            in:fly={{ y: 100, opacity: 0, delay: 500 }}
            out:fly={{ y: -100, opacity: 0 }}
            class="absolute text-3xl"
            >
            {loadingSize * 100}%
          </span>
        {:else}
          <div
            in:fly={{ y: 100, opacity: 0, delay: 500 }}
            out:fly={{ y: -100, opacity: 0 }}
            class="check" />
        {/if}
      {/if}
    </div>
  </div>
  <div class="absolute w-full h-full z-0">
    <P5animation time={$animationTime} />
  </div>
</div>

<style>
  .circle {
    mask-image: radial-gradient(transparent 58%, black calc(58% + 1px));
  }

  .check {
    position: absolute;
    display: inline-block;
    transform: rotate(45deg) translate3D(-10%, -10%, 0);
    height: 30%;
    width: 20%;
    border-bottom: 25px solid currentColor;
    border-right: 25px solid currentColor;
  }
</style>
