@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100vh;
  font-family: 'Avenir', 'Avenir Next LT Pro', 'Montserrat', 'Corbel', 'URW Gothic', 'source-sans-pro', sans-serif;
}